<h1 class="drinks-header">The Drinks Databse</h1>
<ng-container *ngIf="ingredients.length > 0">
    <div class="col-12 filtered-drinks">
        <h5>Click on an Ingredient to filter drinks</h5>
        <span class="mr-2" *ngFor="let types of ingredients">
            <a href="javascript:void(0)" class="cursor-pointer" (click)="filteredCocktail(types)">{{ types }}</a>
        </span>
    </div>
</ng-container>
<div class="drink-types col-12">
    <h2>Please Select a Drink Type</h2>
    <p *ngFor="let drinkTypes of drinks" class="cursor-pointer" (click)="getCocktailDetails(drinkTypes.key)">
        {{ drinkTypes.value }}
    </p>
</div>
<h1 *ngIf="loading">{{ loading }}</h1>
<div *ngIf="cocktails?.length > 0" class="container row">
    <ng-container *ngFor="let drink of cocktails">
        <div *ngIf="sortedDrinks?.length < 1" class="col-4 mt-2">
            <div class="card drinks-cards">
                <img src="{{ drink?.strDrinkThumb }}" class="card-img-top" alt="{{ drink?.strDrink }}">
                <div class="card-body">
                    <h5 class="card-title">Drink Name: {{ drink?.strDrink }}</h5>
                    <p class="card-text" *ngIf="drink?.strCategory">Category: {{ drink?.strCategory }}</p>
                    <p class="card-text" *ngIf="drink?.strAlcoholic">Drink Type: {{ drink?.strAlcoholic }}</p>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="sortedDrinks?.length > 0">
        <ng-container *ngFor="let drink of sortedDrinks">
            <div class="col-4 mt-2">
                <div class="card drinks-cards">
                    <img src="{{ drink?.strDrinkThumb }}" class="card-img-top" alt="{{ drink?.strDrink }}">
                    <div class="card-body">
                        <h5 class="card-title">Drink Name: {{ drink?.strDrink }}</h5>
                        <p class="card-text" *ngIf="drink?.strCategory">Category: {{ drink?.strCategory }}</p>
                        <p class="card-text" *ngIf="drink?.strAlcoholic">Drink Type: {{ drink?.strAlcoholic }}</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>