@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

.cursor-pointer {
    cursor: pointer;
}

.drink-types {
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    background-color: bisque;
}

.drinks-header {
    width: 100%;
    text-align: center;
    height: 150px;
    background-color: lightcyan;
}

h1 {
    text-decoration: underline;
}

.filtered-drinks {
    width: 90%
}

.drinks-cards {
    background-color: coral;
    width: 20rem;
    height: 30rem;
}

img {
    border-radius: 200px;
}